/* ====================== Base Styles ====================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

main {
	text-align: center;
}

h3 {
	text-transform: uppercase;
	text-align: left;
	margin-left: 1em;
	margin-bottom: 0;
	margin-top: 1em;
	letter-spacing: 0.1em;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #817dc9;
}

svg {
	width: 2em;
	fill: #fff;
}

.font-200 {
	font-weight: 200;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.sup {
	font-size: 0.5em;
}

/* ====================== Header ====================== */

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #817dc9;
	align-items: center;
	width: 100%;
	padding: 1em;
	grid-area: header;
}

.logo {
	color: #fff;
	font-size: 1.5em;
}

.header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-right ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	color: #fff;
}

.header-right li {
	padding-left: 1em;
	text-align: center;
}

/* ====================== Notifications Bell ====================== */

.ringBell {
	transform-origin: top;
	cursor: pointer;
	margin-right: 1em;
}

.ringBell:hover {
	animation: ring 0.26s ease-in-out 5;
}

@keyframes ring {
	0% {
		transform: rotate(12deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-12deg);
	}
}

.notification {
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: #0f0;
	z-index: 90;
	top: -1.5em;
	left: -1em;
	position: relative;
}

/* ====================== Borders ====================== */

#header > div > ul > li:nth-child(1) {
	border-left: 1px solid #fff6;
}

.header-right li:nth-of-type(2) {
	border-left: 1.7px solid #bdbdbd57;
}

#traffic,
#social-stats,
#members {
	border-bottom: 2px solid #9f9f9f5e;
}

#social-stats,
#message-user,
#settings,
.mobile-users {
	border-top: 2px solid #9f9f9f5e;
}

#message-user {
	border-right: 2px solid #9f9f9f5e;
}

/* ====================== Nav ====================== */

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #534f9c;
	align-items: center;
	margin-top: 0;
	height: 4.5em;
	padding: 2em;
	width: 100%;
}

.nav-bar svg {
	width: 2.5em;
}

.svg-icons {
	width: 2em;
	filter: invert(100%);
}

.main-header {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 1.7em 1em 0;
	grid-area: main-header;
}

.alert {
	display: flex;
	cursor: pointer;
	background-color: #817dc9;
	color: #fff;
	font-weight: 200;
	font-size: 1.2em;
	text-align: left;
	padding: 0.7em 1em;
	border: 2px solid #9f9f9f5e;
	border-radius: 5px;
	width: 95%;
	margin: 2em auto 1em;
	justify-content: space-between;
	align-items: center;
}

/* ====================== Charts ====================== */

.chart-scope {
	margin-top: 0.5em;
	display: flex;
}

.traffic-container,
.daily-traffic,
.mobile-users {
	width: 100%;
}

canvas {
	width: 95vw;
	padding: 0.7em;
}

.traffic-list {
	display: flex;
	flex-direction: row;
	margin: 0 1em;
	font-size: 1.2em;
	justify-content: space-around;
}

/* ====================== Social Stats ====================== */

.social-stat {
	display: flex;
	flex-direction: row;
	background-color: #f3f3f3;
	border: 2px solid #d3d3d3;
	border-radius: 5px;
	width: 95%;
	max-width: 460px;
	margin: 1em auto;
	padding: 1em;
	justify-content: flex-start;
	align-items: center;
}

.social-text {
	padding-left: calc(10% / 2);
	font-size: 0.8em;
}

p.social-brand {
	color: #817dc9;
	font-size: 1.3em;
	text-align: left;
}

.social-text p:last-child {
	font-size: 3em;
	color: #8f8f8f;
	font-weight: 300;
}

.social-icon-bg {
	display: flex;
	flex-direction: column;
	background-color: #817dc9;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

/* ====================== Members ====================== */

.student-pic {
	width: 3.3em;
	border-radius: 50%;
}

#members {
	display: flex;
	flex-direction: column;
	grid-area: members;
}

.new-member,
.recent-activity {
	width: 95%;
	margin: 0 auto;
	padding: 1.5em;
	border-bottom: 2px solid #9f9f9f5e;
}

.new-member:last-child,
.recent-activity:last-child {
	border-bottom: none;
}

.member-pic {
	border-radius: 50%;
	width: 5em;
}

.right-arrow {
	display: none;
	font-size: 2em;
	color: #817dc9;
	cursor: pointer;
}

/* ====================== Message ====================== */

#message-user {
	grid-area: message-user;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

.user-search-field,
.user-message-field,
.timezone-field {
	width: 95%;
	margin: 0.5em auto;
	padding: 0.7em;
	border: 2px solid #9f9f9f5e;
	background-color: #f6f6f6;
	border-radius: 5px;
	font-size: 1.2em;
	outline: none;
}

.user-search-field::placeholder,
.user-message-field::placeholder {
	font-weight: 200;
}

.user-message-field {
	height: 10em;
}

.button-send,
.button-save,
.button-clear {
	cursor: pointer;
	margin: 0 auto 1em;
	text-transform: uppercase;
	background-color: #817dc9;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.2rem;
	padding: 0.8em;
	border: 2px solid #9f9f9f5e;
	border-radius: 5px;
	text-align: center;
}

.button-send {
	width: 95%;
}

/* ====================== Settings ====================== */

#settings {
	display: flex;
	flex-direction: column;
	grid-area: settings;
	justify-content: space-between;
}

.settings-flex-list {
	display: flex;
	flex-direction: column;
	margin: 0em 1.2em;
}

.settings-flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 1em 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 7.5em;
}

.timezone-field {
	width: 95%;
	text-decoration: none;
}

.settings-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.button-save,
.button-clear {
	width: 45%;
}

.button-clear {
	background-color: #9f9f9f;
}

/* ====================== Grid ====================== */

#nav {
	grid-area: nav;
}

.traffic-container {
	grid-area: traffic;
}

.daily-traffic {
	grid-area: daily-traffic;
}

.mobile-users {
	grid-area: mobile-users;
}

#social-stats {
	grid-area: social-stats;
}

#activity {
	grid-area: activity;
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		'header'
		'nav'
		'dashboard';
}

/* ====================== Media Queries ====================== */

/* ======================
 @ 768px 
 ====================== */

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: 5em 1fr;
		grid-template-areas:
			'header header'
			'nav dashboard';
	}

	#dashboard {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'main-header main-header'
			'traffic traffic'
			'daily-traffic mobile-users'
			'social-stats social-stats'
			'members members'
			'activity activity'
			'message-user message-user'
			'settings settings';
	}

	.nav-list {
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}

	.nav-item {
		padding-bottom: 3.5em;
	}

	.traffic-container {
		width: 100%;
	}

	.daily-traffic,
	.mobile-users {
		width: 43vw;
	}

	.daily-traffic {
		border-right: 2px solid #9f9f9f5e;
	}

	.mobile-users {
		border: none;
	}

	.chart-scope {
		justify-content: space-evenly;
	}

	.social-stats {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}

	.social-stat {
		margin: 0.3em;
		padding: 1em;
		display: flex;
		justify-content: flex-start;
		width: calc(95% / 3);
	}

	.member-flex-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.new-member,
	.recent-activity {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.member-info-container,
	.member-activity-container {
		display: flex;
		align-items: center;
		padding-right: 1em;
	}

	.member-info,
	.member-activity {
		text-align: left;
		margin-left: 1em;
	}

	.right-arrow {
		display: initial;
	}

	.settings-flex-container {
		justify-content: flex-start;
	}

	.settings-flex-item p {
		width: 15em;
		text-align: left;
	}
}

/* ======================
 @ 1024px 
 ====================== */

@media (min-width: 1024px) {
	#dashboard {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'main-header main-header'
			'traffic traffic'
			'daily-traffic mobile-users'
			'social-stats social-stats'
			'members activity'
			'message-user settings';
	}

	#members {
		border-bottom: none;
	}

	.social-stat {
		margin: 0.3em;
		padding: 1em;
		max-width: 20em;
	}

	.social-text {
		font-size: 1em;
	}

	.member-pic {
		width: 4em;
	}

	.new-member,
	.recent-activity {
		padding: 1.5em 1em;
	}
}

/* ====================== Modal ====================== */

.modal1,
.modal2 {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal2 {
	left: auto;
	top: 0%;
	background-color: rgba(0, 0, 0, 0);
}

.modal-content,
.modal-content2 {
	background-color: #fefefe;
	padding: 2em;
	border: 3px solid #817dc9;
	width: 80%;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-content {
	top: calc(100% / 5);
	left: calc(100% / 10);
	position: fixed;
}

.modal-content2 {
	top: calc(100% / 4.2);
	left: calc(100% / 8.4);
	position: fixed;
}

.close {
	color: #817dc9;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
}

.close-white {
	color: #fff;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* ====================== Autocomplete ====================== */

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 0.1em solid #d4d4d4;
	z-index: 99;
	top: 85%;
	width: 95%;
	text-align: left;
	left: 0.8em;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: #817dc9 !important;
	color: #ffffff;
}
