@charset "UTF-8";
/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/

/* ====================== Traffic Chart ====================== */

/* Traffic chart label height */
.chart-scope label {
	cursor: pointer;
	padding: 1em;
}

/* Traffic chart labels */
.chart-scope input {
	position: absolute;
	left: 0;
	opacity: 0;
}

/* Traffic chart label active background */
.chart-scope input:hover + label,
.chart-scope input:focus + label {
	background-color: #83c97d;
	color: #fff;
	border-radius: 30px;
	padding: 0.2em 1em;
}

.switch-chart-scope {
	/* margin-right: 1em; */
	color: #9f9f9f;
	cursor: pointer;
	padding: 0 .3em;
}

/* ====================== Settings toggles ====================== */

/* Settings toggle button hide checkboxes */
.switch-setting input {
	position: absolute;
	opacity: 0;
	z-index: 3;
}

/* Settings toggle button text */
.switch-setting span span {
	position: relative;
	z-index: 2;
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	user-select: none;
}

/* Settings toggle button movement */
.switch-setting a {
	position: absolute;
	right: 50%;
	top: 0;
	z-index: 1;
	display: block;
	width: 50%;
	height: 100%;
	padding: 0;
}

/* Settings toggle button button */
.switch-ios.switch-setting a {
	left: 0.3em;
	top: 0.2em;
	width: 2.25em;
	height: 2.25em;
	background-color: #fff;
	border-radius: 100%;
	border: 0.25em solid #d8d9db;
	transition: all 0.2s ease-out;
	text-decoration: none;
}

/* Settings toggle button shape */
.switch-ios.switch-setting > span {
	display: block;
	width: 100%;
	height: 2.5em;
	background-color: #d8d9db;
	border-radius: 1.75em;
	transition: all 0.4s ease-out;
}

/* Settings toggle button text alignment */
.switch-ios.switch-setting > span span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	line-height: 2.5em;
	vertical-align: middle;
	transition: all 0.2s ease-out;
}

/* Settings toggle button disabled text */
.switch-ios.switch-setting > span span:first-of-type {
	opacity: 1;
	text-align: right;
	padding-right: 1.5em;
	padding-top: 0.1em;
}

/* Settings toggle button border */
.switch-ios.switch-setting input:checked ~ span a {
	left: 100%;
	border-color: #817dc9;
	margin-left: -2.5em;
}

/* Settings toggle button background */
.switch-ios.switch-setting input:checked ~ span {
	border-color: #817dc9;
	box-shadow: inset 0 0 0 30px #817dc9;
}

/* Settings toggle button hide disabled state */
.switch-ios.switch-setting input:checked ~ span span:first-of-type {
	opacity: 0;
}

/* Settings toggle button active text */
.switch-ios.switch-setting input:checked ~ span span:last-of-type {
	opacity: 1;
	color: #fff;
	text-align: left;
	padding-left: 1.5em;
	padding-top: 0.1em;
}
